@use "base/tailwind.css" as *;
@use "base/variables" as *;
@use "base/mixins" as *;
@use "base/typography" as *;

:root {
  --primary: #{$color-primary};
  --primary-foreground: #{$color-white};
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Fredoka', sans-serif;
  background-color: $color-white;
  color: $color-text-primary;
  font-size: $text-md;
}

.site-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

@layer utilities {
  .full-height {
    @apply flex flex-col flex-1 min-h-0;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .capitalize-first {
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
